<h1>Demo#index</h1>
<p>Find me in app/views/demo/index.html.erb</p>
<p>
  hello friend
</p>

<%= link_to('hello page', action: 'hello') %>


<%= link_to('hello with params', {action: 'hello', page: 5, id: 20}) %>
